body{
    font-family: Arial, sans-serif;
    background-color: #e2e8f0;
    margin-top: 55px;
}


button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: solid;
    border-color: black;
    cursor: pointer;
    margin: 10px;
}

.center{
    text-align: center;
}

.div-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.dark-mode{
    background-color: white;
    border: solid;
    border-radius: 9999px;
    border-color: black;
    position: fixed;
    top: 85%;
    left: 5%;
}

.dark-mode:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.light-mode{
    background-color: black;
    border: solid;
    border-radius: 9999px;
    border-color: white;
    position: fixed;
    top: 85%;
    left: 5%;
}

.light-mode:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.hidden{
    display: none;
}

#map {
    height: 500px;
    width: 500px;
    
  }